<!DOCTYPE html>
<html>
    <head>
        <title>Help | Ruby on Rails Tutorial Sample App</title>
    </head>

    <body>
        <h1>Help page</h1>
        <p>Come here for help.</p>
    </body>
</html>
