<!DOCTYPE html>
<html>
    <head>
        <title>Home | Ruby on Rails Tutorial Sample App</title>
    </head>

    <body>
        <h1>Sample app</h1>
        <p>
        This is the home page for the sample app.
        <a href="www.google.com">google it</a>
        </p>
    </body>
</html>
